<nav class="container !py-4 max-sm:!mb-2 flex align-center justify-between max-sm:flex-col max-sm:gap-4">
    <ul class="flex gap-2">
        @for(navItem of navItems; track navItem.path) {
        <li>
            <a class="!p-2 rounded-md border-1 border-orange-400 hover:bg-orange-200 transition-all duration-200 ease-in-out"
                [class.bg-orange-200]="isRouteActive(navItem.path)" [routerLink]="navItem.path">
                {{ navItem.label }}
            </a>
        </li>
        }
    </ul>
    <app-button (click)="logout()">
        Logout
    </app-button>
</nav>