<div class="h-[100vh] grid items-center justify-center !p-2">
  <app-card class="w-[600px] max-sm:w-full !p-6">
    @if (!isRegisterMode) {
    <div>
      <div class="!mb-4">
        <h1>Dobrodošao nazad</h1>
        <p class="text-neutral-500">
          Prijavi se na svoj nalog kako bi nastavio
        </p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="grid gap-2">
        <div class="grid">
          <label for="email">Email</label>
          <app-input type="email" id="email" formControlName="email"></app-input>
          @if (loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <span class="text-red-500 text-sm">Email je obavezan i mora biti validan</span>
          }
        </div>
        <div class="grid">
          <label for="sifra">Lozinka</label>
          <app-input type="password" id="sifra" formControlName="password"></app-input>
          @if (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <span class="text-red-500 text-sm">Lozinka mora imati najmanje 6 karaktera</span>
          }
        </div>
        <app-button type="submit" [disabled]="loginForm.invalid">Prijavi se</app-button>
      </form>
      <span class="text-sm text-neutral-400 text-center">Nemaš nalog?
        <span (click)="switchToRegister()" class="text-orange-500 cursor-pointer hover:underline">Registruj se</span>
      </span>
    </div>
    } @else {
    <div>
      <div class="!mb-4">
        <h1>Kreiraj nalog</h1>
        <p class="text-neutral-500">
          Registruj se kako bi počeo da koristiš aplikaciju
        </p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="grid gap-2">
        <div class="flex gap-2 max-sm:flex-col">
          <div class="grid">
            <label for="reg-ime">Ime</label>
            <app-input type="text" id="reg-ime" placeholder="Unesite ime" formControlName="firstName"></app-input>
            @if (registerForm.get('firstName')?.invalid &&
            registerForm.get('firstName')?.touched) {
            <span class="text-red-500 text-sm">Ime je obavezno</span>
            }
          </div>
          <div class="grid">
            <label for="reg-prezime">Prezime</label>
            <app-input type="text" id="reg-prezime" placeholder="Unesite prezime"
              formControlName="lastName"></app-input>
            @if (registerForm.get('lastName')?.invalid &&
            registerForm.get('lastName')?.touched) {
            <span class="text-red-500 text-sm">Prezime je obavezno</span>
            }
          </div>
        </div>
        <div class="grid">
          <label for="reg-email">Email</label>
          <app-input type="email" id="reg-email" placeholder="Unesite email" formControlName="email"></app-input>
          @if (registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched) {
          <span class="text-red-500 text-sm">Email je obavezan i mora biti validan</span>
          }
        </div>
        <div class="grid">
          <label for="reg-telefon">Broj telefona</label>
          <app-input type="tel" id="reg-telefon" placeholder="Unesite broj telefona"
            formControlName="phoneNumber"></app-input>
          @if (registerForm.get('phoneNumber')?.invalid &&
          registerForm.get('phoneNumber')?.touched) {
          <span class="text-red-500 text-sm">Broj telefona je obavezan</span>
          }
        </div>
        <div class="grid">
          <label for="reg-sifra">Lozinka</label>
          <app-input type="password" id="reg-sifra" placeholder="Unesite lozinku"
            formControlName="password"></app-input>
          @if (registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched) {
          <span class="text-red-500 text-sm">Lozinka mora imati najmanje 8 karaktera</span>
          }
        </div>
        <div class="grid">
          <label for="confirm-sifra">Potvrdi lozinku</label>
          <app-input type="password" id="confirm-sifra" placeholder="Potvrdite lozinku"
            formControlName="confirmPassword"></app-input>
          @if (registerForm.get('confirmPassword')?.invalid &&
          registerForm.get('confirmPassword')?.touched) {
          <span class="text-red-500 text-sm">Lozinke se ne poklapaju</span>
          }
        </div>
        <div class="grid">
          <label for="confirm-sifra">Zgrada u kojoj se nalazite</label>
          <select name="buildingLivingInID" id="buildingLivingInID" formControlName="buildingLivingInID"
            class="border border-neutral-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent">
            <option value="" disabled selected>Izaberite zgradu</option>
            @for (building of buildings(); track building.id) {
            <option [value]="building.id">
              {{ building.name ? building.name + " - " : "" }}
              {{ building.address }}
            </option>
            }
          </select>
          @if (registerForm.get('buildingLivingInID')?.invalid &&
          registerForm.get('buildingLivingInID')?.touched) {
          <span class="text-red-500 text-sm">Obavezno je izabrati zgradu</span>
          }
        </div>
        <app-button type="submit">Registruj se</app-button>
      </form>
      <span class="text-sm text-neutral-400 text-center">Već imaš nalog?
        <span (click)="switchToLogin()" class="text-orange-500 cursor-pointer hover:underline">Prijavi se</span>
      </span>
    </div>
    }
  </app-card>
</div>